<section id="gigs" class="container">
    <h1>All Cards</h1>
    <div class="cards">
        {{#each cards}}
        <div class="gig ">
            <h2>Side: {{side}}</h2>
            <img src="{{cardImage}}" alt="">
            <h3>Name: {{name}} {{subname}}</h3>
            <p>Twilight cost: {{twilight}}</p>
            <p>Strenght: {{strenght}}</p>
            <p>Vitality: {{vitality}}</p>
            <p>CardText{{cardText}}</p>
        </div>
        {{else}}
        <p>No cards Available</p>
        {{/each}}
    </div>
</section>